<div class="row">
    <div class="col-sm-4" ng-repeat="book in posts">

        <div class="panel panel-default">
            <div class="panel-thumbnail"><img ng-src="{{book.attachments[0].images.full.url}}" class="img-responsive"></div>
            <div class="panel-body">
                <p class="lead"> {{book.title}}</p>
                <p>120k Followers, 900 Posts</p>

                <p>
                    <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    <button type="button" class="btn btn-primary"  ng-click="open_book('{{book.custom_fields.book_url[0]}}')"> 책 보기</button>
                </p>
            </div>
        </div>


    </div><!--/col-->


    <br>

    <div class="clearfix"></div>

    <hr>
    <div class="col-md-12 text-center"><p><a href="http://www.ibookie.org/" target="_ext">지금 바로 아이부키에서 자신만의 책을 만들어 보세요.</a><br><a href="http://www.ibookie.org" target="_ext">http://www.ibookie.org</a></p></div>
    <hr>

</div><!--/main row-->