<div>
    <accordion close-others="oneAtATime">
        <accordion-group heading="휴먼라이브러리는 뭐하는곳인가요?" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <p>휴런라이브러는 어쩌고 저쩌고 하여서</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>

        </accordion-group>

        <accordion-group is-open="status.open">
            <accordion-heading>
                상담 절차에 대해서 알고 싶습니다. <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <p>상담은 어쩌고 저쩌고 하여서</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
        </accordion-group>
        <accordion-group is-open="status.open">
            <accordion-heading>
                할인 혜택에 대해서 알려주세요 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <p>할인 혜택은 어쩌고 저쩌고 하여서</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
            <p>저쩌고 어쩌고</p>
        </accordion-group>




    </accordion>
</div>