<div class="row">
    <div class="col-sm-4" ng-repeat="teacher in posts">

        <div class="panel panel-default">
            <div class="panel-thumbnail"><img ng-src="{{teacher.attachments[0].images.full.url}}" class="img-responsive"></div>
            <div class="panel-body">
                <p class="lead">{{teacher.custom_fields.teacher_name[0]}}</p>
                <p>1,200 Followers, {{teacher.custom_fields.teacher_portfolio_count[0]}} Posts</p>
                <p>{{teacher.custom_fields.teacher_introduce[0]|limitTo:40}}</p>

                <p>
                    <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
                </p>
            </div>
        </div>


    </div><!--/col-->



    <br>

    <div class="clearfix"></div>

    <hr>
    <div class="col-md-12 text-center"><p><a href="http://www.bootply.com/download/90113" target="_ext">Download Google Plus Style Template</a><br><a href="http://bootply.com/templates" target="_ext">More Bootstrap Templates by @Bootply</a></p></div>
    <hr>

</div><!--/main row-->