<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">h.library</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li ng-class="{active:$state.includes('main')}"><a ui-sref="main"><i class="fa fa-graduation-cap fa-1x">&nbsp;</i>강사</a></li>
            <li ng-class="{active:$state.includes('book')}"><a ui-sref="book"><i class="fa fa-book fa-1x">&nbsp;</i>작품</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" >고객센터<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a ui-sref="faq"><i class="fa fa-info-circle">&nbsp;</i>FAQ</a></li>
                    <li class="divider"></li>
                    <li><a ui-sref="map"><i class="fa fa-map-marker">&nbsp;</i>찾아오시는 길</a></li>
                </ul>
            </li>
        </ul>
        <form  ng-submit="submit()" class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="keywords.search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li data-ng-show="!isAuthorized" data-ng-click="showLogin();"><a>login</a></li>
            <li data-ng-show="isAuthorized" data-ng-click="logOut();"><a>logout</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
